Flask
flask-paginate
Flask-SQLAlchemy
Flask-WTF
Flask-Login
Werkzeug
python-dotenv
pytesseract
Pillow
pypdf
pdf2image
email_validator
psycopg2-binary
boto3
pytest
prometheus-client
plotly
matplotlib
pika